.carousel-container {
  overflow: visible;
  height: 440px;
}

.carousel-container .react-multi-carousel-list {
  overflow: visible;
}

.carousel-container .react-multi-carousel-track {
  overflow: visible;
}

.movie-slider {
  position: relative;
  z-index: 1;
}

.movie-slider:hover {
  z-index: 30;
}
